# JUPYTERLAB (OPTIONAL, NEEDED FOR NOTEBOOKS)
# ======================================================

# Next-generation web-based interactive development environment for Jupyter notebooks, code, and data.
# Offers a more feature-rich and versatile experience than the classic Jupyter Notebook. (60-70 MB)
jupyterlab

# Core IPython package that provides an enhanced interactive Python shell (10-15 MB).
ipython

# Core Jupyter functionality required for running notebooks in VS Code (50-60 MB).
jupyter

# Kernel interface for Jupyter notebooks (required for proper kernel registration)
ipykernel

# Interactive widgets (often used in notebooks).
ipywidgets

# tool for “diffing” and merging of Jupyter Notebooks
nbdime

# a JupyterLab extension for version control using git
jupyterlab-git

# NLP tools
spacy
spacytextblob
textblob
nltk
requests